name: Auto commit / format

on: push

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: 19
      - run: git pull
      - run: npm ci
      - run: npm run fmt && git --no-pager diff
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'autogen: re-format / npm run fmt'
